<div class="w-full rounded-3xl bg-gray-500">
  <div class="grid grid-cols-3 md:flex p-4 gap-4">
    <div [ngSwitch]="plugin.imageType" aria-hidden="true" class="select-none w-full aspect-square md:w-28 md:h-28 flex-shrink-0 bg-gray-400 bg-opacity-50 rounded-lg md:rounded-3xl overflow-hidden">
      <img *ngSwitchCase="'url'" [src]="plugin.image" class="w-full h-full"/>
      <i *ngSwitchCase="'fontawesome'" class="w-full h-full text-[2.75rem] sm:text-[7rem] scale-75 text-center text-white fa {{plugin.image}}" ></i>
      <i *ngSwitchCase="'google'" class="w-full h-full text-[2.75rem] sm:text-[7rem] text-center text-white scale-95 material-icons">{{ plugin.image }}</i>
    </div>
    <div class="text-white md:block contents">
      <p class="font-bold text-lg col-span-2 sm:text-2xl">{{plugin.title}}</p>
      <p class="col-span-full">{{plugin.description}}</p>
    </div>
    <div class="md:ml-auto md:h-28 grid gap-y-2 md:gap-y-4 col-span-full">
      <a [href]="plugin.downloadURL" [download]="plugin.fileName" class="w-full py-2 md:py-0 md:w-48 flex items-center justify-center select-none cursor-pointer transition-colors bg-emerald-400 hover:bg-emerald-500 focus:bg-emerald-500 rounded-xl">Download</a>
      <a [href]="plugin.moreInfo" [ngClass]="{'invisible': !plugin.moreInfo}" class="w-full py-2 md:py-0 md:w-48 flex items-center justify-center select-none cursor-pointer transition-colors bg-emerald-400 hover:bg-emerald-500 focus:bg-emerald-500 rounded-xl">More Info</a>
    </div>
  </div>
</div>