<div class="flex justify-center px-5 w-full h-full bg-main">
  <div class="px-5 py-8 mt-36 text-xl text-white bg-gray-500 rounded-lg lg:w-1/2 lg:px-20 2xl:px-48 h-min font-josefin">
    <p class="text-4xl font-bold text-center font-mmd">Bug's Plugins</p>
    <p class="mt-2 font-mono text-xs text-center">( They're called 'Bugins' )</p>
    <p class="mt-10 text-center text-emerald-300 underline">Pretty neato homepage, huh.</p>
    <p class="mt-4 text-justify">
      This website is for some of Bug1312's public plugins and add-ons, which are well known as Bugins. 
      It's a pun, Bug + Plugin = Bugin.
    </p>
  </div>
</div>