@import 'tailwindcss';

@font-face {
	font-family: 'Josefin Slab';
	src: url('/assets/fonts/JosefinSans-SemiBold.ttf');
}

@font-face {
	font-family: 'Major Mono Display';
	src: url('/assets/fonts/MajorMonoDisplay-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/Lato-Regular.ttf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/Lato-Bold.ttf');
	font-style: bold;
	font-weight: 800;
}

@theme {
	--font-josefin: 'Josefin Slab', monospace, ui-monospace;
	--font-mmd: 'Major Mono Display', monospace, ui-monospace;
	--font-lato: 'Lato' sans-serif, ui-sans-serif;

	--color-gray-750: #2e3847;
	--color-gray-550: #4d596a;
}

html {
	overflow: hidden;
	color-scheme: dark;
}

body {
	font-family: var(--font-lato)
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition: none !important;
	}
}
