:root {
    --background_main: #23272A;
    --background_secondary: #99AAB5;
    --background_main_opposite: white;
}

body,
html {
    margin: 0;
    background: url('/main/images/other/numbers.png'), var(--background_secondary);
}

.sideBar {
    width: 320px;
    color: var(--background_main_opposite);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background_main);
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    margin-left: 320px;
    min-height: 100vh;
    width: auto;
    text-align: center;
    box-shadow: 10px 0 20px 0px rgba(0, 0, 0, 0.5) inset;
}

.sideBar .title h1 {
    margin-bottom: 0;
}

.sideBar .title p {
    margin-top: 0;
}

.sideBar a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.sideBar ul {
    list-style: '\003E  ';
    text-align: left;
    padding: 3rem;
    margin-left: 10px;
}

.sideBar li {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sideBar li:hover,
.sideBar li:active {
    color: rgb(26, 189, 26);
    transform: translateX(10px);
    transition: 200ms linear;
}